---
- name: Setup Homelab on Pi
  hosts: pi_server
  become: yes
  tasks:
    - name: Install Docker dependencies
      apt:
        name:
          [
            apt-transport-https,
            ca-certificates,
            curl,
            software-properties-common,
            python3-pip,
          ]
        state: present
        update_cache: yes

    - name: Install Docker
      shell: curl -sSL https://get.docker.com | sh
      args:
        creates: /usr/bin/docker

    - name: Ensure 'nick' is in the docker group
      user:
        name: nick
        groups: docker
        append: yes

    - name: Reset connection to apply group changes
      meta: reset_connection

    - name: Create the stack directory
      file:
        path: /opt/stacks/homelab
        state: directory
        owner: nick
        group: nick
        mode: "0755"

    - name: Copy the docker-compose.yml to the Pi
      copy:
        src: ./docker-compose.yml
        dest: /opt/stacks/homelab/docker-compose.yml
        owner: nick
        group: nick

    - name: Start the Docker Stack
      community.docker.docker_compose_v2:
        project_src: /opt/stacks/homelab
        state: present
